@{
    Layout = null;
}

<section>
    <div class="spacing top-spac70 bottom-spac60">
        <div class="fixed-bg" style="background-image: url(@ViewBag.BackGrand);"></div>
        <div class="sec-tl2 text-center">
            <h2 itemprop="headline">@DoormatWebSite.Resources.Resource.AmazingProjects</h2>
        </div>
        <div id="contentFrame">

        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $('#contentFrame').mask("waiting ...");
        $('#contentFrame').load("/Home/PortfolioResult",
            function (response, xhr) {
                $('#contentFrame').unmask("waiting ...");
            });

        $(function () {
            var x = document.getElementsByClassName("page-item");
            var y = x.getElementsByTagName("a");
            y.classList.add("page-link");
        });


        return false;
    });
</script>