<div class="btm-br text-center">
    <div class="container">
        <p itemprop="description">@Html.Raw(DoormatWebSite.Resources.Resource.Reserved) <a href="/" title="Doormat" itemprop="url" target="_blank">Doormat co</a></p>
    </div>
</div>
